* {
  margin: 0;
}
.app__header {
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1; /* jest przed innymi*/
}
.app {
  background-color: whitesmoke;
  height: 100%;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.app__headerImg
{
  object-fit: contain;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__imageupload {
  margin-left: 20px;
}
.app__postsRight {
  margin-left: 20px;
}